<div class="ui segment">

    <div class="ui stackable grid">
        <div id="table-container" class="sixteen wide column">
            <div class="ui header">
                Lessons
            </div>
            <div class="ui long user modal">
                <i class="close icon"></i>
                <div class="header">
                    {{selectedUser.profile.name ? selectedUser.profile.name : selectedUser.email}}
                    <span ng-show="selectedUser.admin">
            (Admin)
          </span>
                </div>
                <div class="content">

                    <div>
                        <div class="ui header">
                            Status:
                            <div class="ui label">
                                {{selectedUser.status.name.toUpperCase()}}
                            </div>
                        </div>
                        <p>
                            <strong> Admitted by: </strong> {{selectedUser.status.admittedBy ?
                            selectedUser.status.admittedBy : 'N/A'}}
                        </p>
                    </div>

                    <div ng-repeat="section in selectedUser.sections">
                        <div class="ui divider"></div>

                        <h3> {{section.title}} </h3>

                        <p ng-repeat="field in section.fields">
                            <strong> {{field.name}}: </strong>

                            <span ng-show="field.type === 'boolean'">
                <i class="red circle remove icon" ng-show="!field.value"></i>
                <i class="green circle check icon" ng-show="field.value"></i>
              </span>

                            <span ng-if="field.type == null">
                {{field.value}}
              </span>
                        </p>

                    </div>

                </div>

                <div class="actions">
                    <div class="ui positive right labeled icon button">
                        Nothing
                        <i class="checkmark icon"></i>
                    </div>
                </div>
            </div>

            <p>
                If there's no content for a Lesson, the browser will be redirected to the link directly.
                We cannot make statistics on external links, so please make sure most of the lessons include some
                content.<br>
                <br>Basic <strong>Markdown is admitted</strong> for the content field.
            </p>

            <table class="ui celled selectable compact users table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Content</th>
                    <th>Link</th>
                    <th>Order</th>
                    <th>Save/Update</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-click="selectUser(user)" ng-repeat="lesson in lessons" ng-class="rowClass(user)">
                    <td><input type="text" id="lesson-title" ng-model="lesson.title" value="{{lesson.title}}"></td>
                    <td><textarea class="ui input" type="text" ng-model="lesson.description">{{lesson.description}}</textarea></td>
                    <td><textarea class="ui input" type="text" ng-model="lesson.content">{{lesson.content}}</textarea></td>
                    <td><input type="text" id="lesson-link" ng-model="lesson.link" value="{{lesson.link}}"></td>
                    <td><input type="text" id="lesson-order" ng-model="lesson.order" value="{{lesson.order}}"></td>
                    <td class="collapsing">
                        <button class="accept ui circular mini basic green icon button"
                                ng-click="updateLesson(lesson)" title="Accept Hacker">
                            <i class="history icon"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" id="new-lesson-title" ng-model="lesson.title"></td>
                    <td><textarea class="ui input" type="text" ng-model="lesson.description"></textarea></td>
                    <td><textarea class="ui input" type="text" ng-model="lesson.content"></textarea></td>
                    <td><input type="text" id="new-lesson-link" ng-model="lesson.link"></td>
                    <td><input type="text" id="new-lesson-order" ng-model="lesson.order"></td>
                    <td class="collapsing">
                        <button class="accept ui circular mini basic green icon button"
                                ng-click="createLesson(lesson)" title="Accept Hacker">
                            <i class="plus icon"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>