<div class="page">
    <div class="divided title">
        {{"LEARNING"|translate}}
    </div>

    <div class="ui stackable two column grid">
        <div class="four wide column" ng-include="'views/lessons/profile.html'">
        </div>
        <div class="twelve wide column">

            <!-- Confirmation Date -->
            <div
                    ng-class="{'loading': loading}"
                    class="ui orange segment">
                <div class="ui form">

                    <div class="ui header">
                        {{"LESSONS"|translate}}
                    </div>
                    <div class="ui relaxed divided list">
                        <div class="item" ng-repeat="lesson in lessons">
                            <i class="large circle middle aligned icon"></i>
                            <div class="content">
                                <a class="header" ng-click="goLesson($event, lesson)">{{ lesson.title }}</a>
                                <div class="description">{{ lesson.description }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
