<div class="page">
    <div class="divided title">
        Lessons
    </div>

    <div class="ui stackable two column grid">
        <div class="four wide column">

            <!-- Reigstration Open/Close -->
            <div
                    ng-class="{'loading': loading}"
                    class="ui red segment">

                <div class="ui header">
                    Profile
                </div>

                <div class="ui centered card">
                    <div class="image">
                        <img ng-if="isMale()"
                             src="https://semantic-ui.com/images/avatar2/large/matthew.png">
                        <img ng-if="isFemale()"
                             src="https://semantic-ui.com/images/avatar2/large/molly.png">
                        <img ng-if="isOther()"
                             src="https://semantic-ui.com/images/avatar2/large/elyse.png">
                    </div>
                    <div class="content">
                        <a class="header">{{ user.profile.name }}</a>
                        <div class="meta">
                            <span class="date">{{ user.email }}</span>
                        </div>
                        <div class="description">
                            {{ user.profile.name }} is studying {{ user.profile.discipline }} at {{ user.profile.school
                            }}.
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="user icon"></i>
                            {{ user.lessons.length }} Lessons Completed
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="twelve wide column">

            <!-- Confirmation Date -->
            <div
                    ng-class="{'loading': loading}"
                    class="ui orange segment">
                <div class="ui form">

                    <div class="ui header">
                        Lessons
                    </div>
                    <div class="ui relaxed divided list">
                        <div class="item" ng-repeat="lesson in lessons">
                            <i class="large circle middle aligned icon"></i>
                            <div class="content">
                                <a class="header" href="{{ lesson.link }}">{{ lesson.title }}</a>
                                <div class="description">{{ lesson.description }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
