<div class="page">
    <div class="divided title">
        {{"LEARNING"|translate}}
    </div>

    <div class="ui stackable two column grid">
        <div class="twelve wide column" id="content-lesson">
            <!-- Confirmation Date -->
            <div
                    ng-class="{'loading': loading}"
                    class="ui green segment">
                <div class="ui form">

                    <div class="ui header">
                        {{ lesson.title }}
                    </div>
                    <hr>
                    <div
                            class="markdown"
                            ng-bind-html="content">
                    </div>
                </div>
            </div>
            <div class="centered center">
                <button ng-click="goPrev()" class="ui labeled icon button">
                    <i class="left arrow icon"></i>
                    <span ng-if="!prev.end">{{ "PREV_BTN"|translate }} - </span> {{ prev.lesson.title | translate }}
                </button>
                <button ng-click="goNext()" class="ui right labeled icon button">
                    <i class="right arrow icon"></i>
                    <span ng-if="!next.end">{{"NEXT_BTN"|translate}} - </span>{{ next.lesson.title | translate }}
                </button>
            </div>
        </div>
        <div class="ui rail four wide column">
            <div class="ui sticky" ng-include="'views/lessons/profile.html'"></div>
        </div>
    </div>
</div>
