<div class="page">
    <div class="divided title">
        Lessons
    </div>

    <div class="ui stackable two column grid">
        <div class="four wide column" ng-include="'views/lessons/profile.html'">

        </div>
        <div class="twelve wide column">

            <!-- Confirmation Date -->
            <div
                    ng-class="{'loading': loading}"
                    class="ui green segment">
                <div class="ui form">

                    <div class="ui header">
                        {{ lesson.title }}
                    </div>
                    <div>
                        {{ lesson.description }}
                        <a href="{{ lesson.link }}">{{ lesson.link }}</a>
                    </div>
                    <hr>
                    <div
                            class="markdown"
                            ng-bind-html="content">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
