<a
        ui-sref="app.home"
        ui-sref-active="menu-item-active"
        class="menu-item"
        ng-click="onMenuClick()">
    {{"SB_HOME"|translate}}
</a>
<a
        ui-sref="app.dashboard"
        ui-sref-active="menu-item-active"
        class="menu-item"
        ng-if="isLoggedIn"
        ng-click="onMenuClick()">
    {{"SB_DASHBOARD"|translate}}
</a>
<a
        ui-sref="app.login"
        ui-sref-active="menu-item-active"
        class="menu-item"
        ng-if="!isLoggedIn"
        ng-click="onMenuClick()">
    {{"SB_LOGIN_REGISTER"|translate}}
</a>
<a
        ui-sref-active="menu-item-active"
        ui-sref="app.register"
        ng-if="false && !isLoggedIn && regIsOpen"
        class="menu-item"
        ng-click="onMenuClick()">
    APPLY
</a>
<a
        ui-sref-active="menu-item-active"
        ui-sref="app.application"
        ng-if="isLoggedIn && !currentUser.status.declined"
        class="menu-item"
        ng-click="onMenuClick()">
    {{"SB_APPLICATION"|translate}}
</a>
<a
        ui-sref-active="menu-item-active"
        ui-sref="app.confirmation"
        ng-if="currentUser.verified && !pastConfirmation && currentUser.status.admitted && !currentUser.status.declined"
        class="menu-item"
        ng-click="onMenuClick()">
    {{"SB_CONFIRMATION"|translate}}
</a>
<a
        ui-sref-active="menu-item-active"
        ui-sref="app.lessons"
        ng-if="currentUser.admin || currentUser.verified && currentUser.status.confirmed && !currentUser.status.declined"
        class="menu-item"
        ng-click="onMenuClick()">
    {{"SB_LEARNING"|translate}}
</a>
<a
        ui-sref-active="menu-item-active"
        ui-sref="app.team"
        ng-if="false && currentUser.verified && !currentUser.status.declined"
        class="menu-item"
        ng-click="onMenuClick()">
    {{"SB_TEAM"|translate}}
</a>
<a
        ui-sref-active="menu-item-active"
        ui-sref="app.admin.stats"
        class="menu-item"
        ng-if="currentUser.verified && currentUser.admin"
        ng-click="onMenuClick()">
    {{"SB_ADMIN"|translate}}
</a>
<a class="menu-item"
   ng-click="logout()"
   ng-if="isLoggedIn"
   ng-click="onMenuClick()">
    {{"SB_LOGOUT"|translate}}
</a>
<a ng-if="isEvent"
   ui-sref-active="menu-item-active"
   ui-sref="app.schedule"
   class="menu-item menu-item--sponsor"
   ng-click="onMenuClick()">
    LIVE
</a>