<div id="home">
    <section id="hero">
        <div class="hero-content center">
            <div ng-class="{ 'fade-out': fadeOut }">
                <div class="logo-header-container ui grid mobile only tablet only">

                    <div class="logo-header">
                        <img src="https://cdn.hacklyon.com/images/logo/logo-horiz-v2.svg">
                    </div>
                </div>
                <span class="hero-title">Alpha</span>
                <div class="hero-description-container">
                    <span class="hero-description ui grid computer only tablet only no-margin-right">APRIL 27 – 28,&nbsp;</span>
                    <span class="hero-description ui grid mobile only">APRIL 27 – 28&nbsp;</span>
                    <span class="hero-description">LYON</span>
                </div>
                <div class="hero-button-container">
                    <!--a ui-sref="app.recruit" class="btn">
                        <i class="fa fa-rocket" aria-hidden="true"></i>
                        TEAM OPENINGS
                    </a-->
                    <!-- <a ui-sref="app.expo" class="btn">
                        <i class="fa fa-rocket" aria-hidden="true"></i>
                        LIVE
                    </a> -->
                    <a ui-sref="app.login" class="btn" ng-if="regIsOpen">
                        <i class="fa fa-rocket" aria-hidden="true"></i>
                        APPLY
                    </a>
                    <a class="btn btn--coming-soon" ng-if="!regIsOpen">
                        <i class="fa fa-rocket" aria-hidden="true"></i>
                        REGISTRATION CLOSED {{ regIsOpen }}
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="info" class="center">
        <div id="info-content">
			<span class="headline">
				<span class="bold">50</span> Hackers.
			</span>
            <span class="headline">
				<span class="bold">24</span> Hours.
			</span>
        </div>
    </section>

    <section id="faq" class="center">
        <div id="faq-content">
            <div class="title">
                FAQs
            </div>
            <div class="faq-list ui stackable two column grid">
                <div class="column" ng-repeat="f in faqs" ng-if="$even">
                    <div class="faq-card">
                        <div class="faq-card-title">
                            {{f.q}}
                        </div>
                        <div class="faq-card-description">
                            {{f.a}}
                        </div>
                    </div>
                </div>
                <div class="column" ng-repeat="f in faqs" ng-if="$odd">
                    <div class="faq-card">
                        <div class="faq-card-title">
                            {{f.q}}
                        </div>
                        <div class="faq-card-description">
                            {{f.a}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sponsors" class="center">
        <div id="sponsors-content">
            <div class="title">
                Sponsors & Partners
            </div>
            <br>
            <div id="sponsors-list" class="ui grid" ng-repeat="spo in sponsors">
                <a href="{{spo.href}}" class="sixteen wide phone eight wide tablet four wide computer column"
                   target="_blank">
                    <img src="{{spo.logo}}">
                </a>
            </div>
            <br>
            <div class="center" style="padding-top: 36px">
                <span class="headline">
                    Do you want to see <span class="bold">your logo here</span>?&nbsp;
                </span>
                <span class="headline">
                    Contact us by <a href="mailto:partnerships@hacklyon.com?subject=Partnership%20HackLyon">email</a>.
                </span>
            </div>
        </div>
    </section>

    <section id="mapp" class="center ui grid">
        <div id="map" class="sixteen wide phone eight wide tablet eight wide computer column">

        </div>
        <div class="sixteen wide phone eight wide tablet eight wide computer column">
            <div class="center" style="display: grid;">
                <p><span class="headline">Venue</span></p><br>
                <p><a href="http://www.latourduweb.com/">La Tour Du Web</a>, Lyon</p>
                <p>4 Rue du Professeur Charles Appleton, 69007 Lyon</p><br>
                <img src="./assets/images/latourduweb_site_web.jpg"/>
            </div>
        </div>
    </section>

    <script>
        // Google Maps Scripts
        var map = null;
        // When the window has finished loading create our google map below
        google.maps.event.addDomListener(window, 'load', init);
        google.maps.event.addDomListener(window, 'resize', function () {
            map.setCenter(new google.maps.LatLng(45.7459289, 4.8349169));
        });

        function init() {
            // Basic options for a simple Google Map
            // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
            var mapOptions = {
                // How zoomed in you want the map to start at (always required)
                zoom: 15,

                // The latitude and longitude to center the map (always required)
                center: new google.maps.LatLng(45.7459289, 4.8349169), // La Tour Du Web

                // Disables the default Google Maps UI components
                disableDefaultUI: true,
                scrollwheel: false,
                draggable: false,

                // How you would like to style the map.
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 17
                    }]
                }, {
                    "featureType": "landscape",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 20
                    }]
                }, {
                    "featureType": "road.highway",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 17
                    }]
                }, {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 29
                    }, {
                        "weight": 0.2
                    }]
                }, {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 18
                    }]
                }, {
                    "featureType": "road.local",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 16
                    }]
                }, {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 21
                    }]
                }, {
                    "elementType": "labels.text.stroke",
                    "stylers": [{
                        "visibility": "off"
                    }, {
                        "color": "#000000"
                    }, {
                        "lightness": 16
                    }]
                }, {
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "saturation": 36
                    }, {
                        "color": "#000000"
                    }, {
                        "lightness": 40
                    }]
                }, {
                    "elementType": "labels.icon",
                    "stylers": [{
                        "visibility": "off"
                    }]
                }, {
                    "featureType": "transit",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 19
                    }]
                }, {
                    "featureType": "administrative",
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 20
                    }]
                }, {
                    "featureType": "administrative",
                    "elementType": "geometry.stroke",
                    "stylers": [{
                        "color": "#000000"
                    }, {
                        "lightness": 17
                    }, {
                        "weight": 1.2
                    }]
                }]
            };

            // Get the HTML DOM element that will contain your map
            // We are using a div with id="map" seen below in the <body>
            var mapElement = document.getElementById('map');

            // Create the Google Map using out element and options defined above
            map = new google.maps.Map(mapElement, mapOptions);

            // Custom Map Marker Icon - Customize the map-marker.png file to customize your icon
            var image = 'assets/images/map-marker.svg';
            var myLatLng = new google.maps.LatLng(45.7459289, 4.8349169);
            var beachMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image
            });
        }
    </script>

    <section id="footer" class="center">
        <div id="footer-content">
            <a href="mailto:hello@hacklyon.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/hacklyonfr"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://twitter.com/hacklyon"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
    </section>
</div>