#login {
  height: 100%;
  width: 100%;
  background-color: $tertiary;

  > .container {
    position: relative;
    top: 50%;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    > .content {
      max-width: 320px;
      margin: 0 auto;

      .button {
        color: white;
        &.login {
          background: $login-color;
        }
        &.register {
          background: $register-color
        }
      }

      .forgot {
        text-align: center;
      }

    }
  }

  #form {
    background: none;
    border: none;
    label {
      color: white;
    }
    #email, #password {
      background-color: transparent;
      border: 3px solid white;
      color: white;
      &::placeholder {
        color: white;
        opacity: .8;
      }
      &:focus {
        border-color: $primary;
      }
    }
    #login-password {
      background-color: $quaternary;

    }
    #register {
      background-color: $primary;
    }
    #register, #login-password {
      margin-top: 30px;
      margin-bottom: 15px;
    }
  }
}
